@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

:root{
    font-family: 'KoPub Batang', serif;
}

h1,h3{
    margin: 0;
}

body, html{
    margin: 0 auto;
    height: 100%;
    color:white;
    width: 100%;
    background: url('../image/new-york.jpeg') no-repeat center center fixed; 
    background-size: cover;
    overflow: hidden;
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    padding: 30px 12% 30px 100px;    
}