.timeSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.todayState{
    font-size: 1.2rem;
    margin-bottom: 3rem;
}
.countryTime{
    font-size : 2.7rem;
}
.timeInfo{
    display: flex;
    align-items: flex-end;
}

.time{
    font-size: 7rem;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 2.5rem;
}
.location{
    font-size: 2.2rem;
}

.buttonSection{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
